.home-container {
    padding-top: 115px;
    padding-left: 120px;
    padding-bottom: 265px;
    text-decoration: none;
}

.text-title {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
}

.text-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5a6774;
    color: #5a6774;
    margin-top: 25px;
    margin-bottom: 50px;    
}

.email-text {
    text-decoration: none;
    color: #3ca1ff;
}

.text-link {
    text-decoration: none;
}