.btn-container {
    width: 100px;
    height: 40px;
    padding: 8px 18px 8px 18px;
    background: #1890ff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF;
    border-style: none;
    cursor: pointer;
}

