.main-nav {
    height: 62px;
    background: #1890ff;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 24px;
    line-height: 32px; 
}

.nav-logo-text {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}
